header {
    ul {
        padding: 0;
        list-style: none;
        margin: 30px;
    }
        
    a {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}

body{

    main {
        // .left {
        //     width: 33.33%;
        //     top: 0;
        //     bottom: 0;
        //     margin: 30px;
        //     position: fixed;
        // }

        .gallery {
            height: 100%;
            overflow-y: scroll;
            // margin-left: 200px;
            width: 100%;
        }
    }
}